* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato';
}

/* COMMON SECTION */
.common-btn {
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* COMMON SECTION END */

/* BANNER SECTION START */
.banner-section {
  height: 700px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-section-contents {
  padding-left: 240px;
}
.banner-section-img {
  padding-right: 240px;
  padding-left: 97px;
}
.banner-title {
  color: #272727;
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}
.banner-section-img img {
  height: 650px;
  margin-top: 52px;
}
/* BANNER SECTION END */

/*  */
.featured-section-container {
  padding-top: 70px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin: 0 auto;
  margin-bottom: 38px;
}
.featured-image-container {
  height: 538px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -30px;
}
.featured-img {
  width: 465px;
  height: 438px;
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
  text-align: center;
}
.featured-img img {
  padding-top: 68px;
  width: 370px;
  height: 370px;
}
.featured-img-1 {
  background: rgba(167, 33, 98, 0.15);
}
.featured-img-2 {
  background: rgba(5, 151, 160, 0.15);
}
.featured-img-3 {
  background: rgba(71, 125, 17, 0.15);
}
#img-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}
/*  */
